.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  color: white;
  display: inline-block;
  margin: 20px auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.add-food {
  padding: 20px;
  width: 200px;
  color: white;
  background-color: black;
  font-weight: bolder;
}

.search-food {
  padding: 20px;
  width: 200px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
